.App {
    display: flex;
    margin-top: 15vh;
    flex-direction: column;
    align-items: flex-end;
}

.App main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.App article {
    margin-right: 16px;
}
.App .QRBox {
    margin-left: 16px;
}