.App {
    display: flex;
    margin-top: 20vh;
    height: 80vh;
    flex-direction: column;
    align-items: flex-end;
}

.App main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.App article {
    margin: 12px;
}
.App .QRBox {
    margin: 12px;
}