body {
  background-color: #f8f8f8;
  color: #444444;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: proxima-nova,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  padding: 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
